/* homepage */
.homepagebody {
    background-color: #6D214F;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: auto;
    text-align: center;
}

.homepageheader {
    background-color: #6D214F;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

/* rules */

.rulesbody {
    background-color: #B33771;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

.rulesheader {
    background-color: #B33771;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.rulesbutton {
    cursor: pointer;
    width: 250px;
    height: 70px;
    background-color: #58B19F;
    color: #222f3e;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Francois One', sans-serif;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.therules {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 3px;
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

/* truth or dare */
.todbutton {
    cursor: pointer;
    width: 250px;
    height: 70px;
    background-color: #58B19F;
    color: #222f3e;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Francois One', sans-serif;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.todbutton:hover {
    color:#58B19F;
    background-color:#222f3e;
}

.todbody {
    background-color: #6D214F;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: auto;
    text-align: center;
}

.todheader {
    background-color: #6D214F;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

/* never have i ever */

.nhiebutton {
    cursor: pointer;
    width: 250px;
    height: 70px;
    background-color: #ff9f43;
    color: #5f27cd;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Francois One', sans-serif;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    line-height: 1;
}

.nhiebutton:hover {
    color:#ff9f43;
    background-color:#5f27cd;
}
/* common */

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

:link { text-decoration: none; }

.absolute {
    position: absolute;
    bottom: 10px;
    width: 10%;
    border: none;
    text-align: right;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 42px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
}

h4 {
    font-family: 'Lobster', cursive;
    font-size: 42px;
    color: white;
}

#linkwhite {
   color: white;
  }

button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}
