/* homepage */
.homepagebody {
    background-color: #6D214F;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
}

.homepageheader {
    background-color: #6D214F;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

/* rules */

.rulesbody {
    background-color: #B33771;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: auto 0;
    text-align: center;
}

.rulesheader {
    background-color: #B33771;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

#rulesbutton {
    cursor: pointer;
    width: 270px;
    height: 70px;
    background-color: #58B19F;
    color: #222f3e;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Francois One', sans-serif;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: absolute;
    left:50%;
    margin: auto 0;
    padding: 0;
}

#rulesbutton:hover {
    color:#58B19F;
    background-color:#222f3e;
}

.therules {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 3px;
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

/* truth or dare */
#todbutton {
    cursor: pointer;
    width: 270px;
    height: 70px;
    background-color: #58B19F;
    color: #222f3e;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Francois One', sans-serif;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#todbutton:hover {
    color:#58B19F;
    background-color:#222f3e;
}

.todbody {
    background-color: #6D214F;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: auto;
    text-align: center;
}

.todheader {
    background-color: #6D214F;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

/* never have i ever */

#nhiebutton {
    cursor: pointer;
    width: 270px;
    height: 70px;
    background-color: #ff9f43;
    color: #5f27cd;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Francois One', sans-serif;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    line-height: 1;
}

#nhiebutton:hover {
    color:#ff9f43;
    background-color:#5f27cd;
}

/* common */

.container {
    margin-top: 80px;
}

:link { text-decoration: none; }

.absolute {
    position: absolute;
    bottom: 10px;
    width: 10%;
    border: none;
    text-align: right;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    text-align: center;
}

h4 {
    font-family: 'Lobster', cursive;
    font-size: 42px;
    color: white;
}

#linkgrey {
   color: #ced6e0;
  }

#linkgrey:hover{
    color: black;
}