body {
    animation: colorchange 30s infinite;
    text-align: center;
}
@keyframes colorchange
{
  0%   {background: #6a89cc;}
  25%  {background: #82ccdd;}
  50%  {background: #b8e994;}
  75%  {background: #78e08f;}
  100% {background: #38ada9;}
}

h1 {
    font-family: 'Allura', cursive;
    font-size: 100px;
    margin-top: 30px;
}

h2 {
    font-family: 'Viga', sans-serif;
    font-size: 30px;
    margin-top: 30px;
}

#foodbutton{
    cursor: pointer;
    width: 270px;
    height: 70px;
    background-color: #f8c291;
    color: #e55039;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Viga', sans-serif;
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foodbutton:hover{
    background-color:#e55039;
    color: #f8c291;

}