<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <form action="/" method ="post">
                     <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                    <input autocomplet="off" autofocus name="name" placeholder="Name" required type="text">
                    <input autocomplet="off" autofocus name="month" placeholder="Month" required type="int">
                    <input autocomplet="off" autofocus name="day" placeholder="Day" required type="int">
                    <input type="submit"> 
                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for all_birthdays in all_birthdays %}
                            <tr>
                                <td> {{all_birthdays.name}}
                                <td>{{ all_birthdays.month, all_birthdays.date}}
                            </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
